<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sfdevtools.yeah2"
    android:versionCode="1"
    android:versionName="1.0"
    android:installLocation="internalOnly">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:name=".MainApplication"
        android:manageSpaceActivity="com.salesforce.androidsdk.ui.ManageSpaceActivity">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

    <uses-sdk android:minSdkVersion="21"
        android:targetSdkVersion="27" />

    <!--
        GCM permission to ensure that only this application can
        receive the messages and registration result. This must be of
        the format <app-package-name>.C2D_MESSAGE for it to work.
    -->
    <permission android:name="com.sfdevtools.yeah2.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.sfdevtools.yeah2.C2D_MESSAGE" />


</manifest>